*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url("../images/back1.jpg");
    background-size: cover;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    position: relative;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;

}


.sub-header .main h1{
    padding-top: 5%;
    padding-bottom: 2%;
    padding-left: 5%;
   font-size: 40px;
}
.sub-header .main p{
    
    padding-bottom: 3%;
    padding-left: 5%;
   font-size: 30px;
} 
h1{
    padding-left: 2%;
}
.submain{
    
    padding-left:5%;
    display: flex;
    padding-top: 2%;
 
}
.submain .events>p{
 padding-bottom: 2%;
 padding-left: 5%;
}

.submain .events>img{
    border: 3px solid white;
    border-radius: 5%;
    height: 200px;
    width: 400px;
    justify-content: space-between;
   
}
.technologies{
    
}

   
   
