*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    background-image: url('../images/back1.jpg');
    background-size: cover;
    color: white;
    justify-content: center;
    align-items: center;

}
.container{
    justify-content: center;
    align-items: center; 
    text-align:center;
    min-height:40vh;


}